info:
  contact:
    email: ServiceDesk@openbanking.org.uk
    name: Service Desk
  description: Swagger for Payment Initiation API Specification
  license:
    name: open-licence
    url: https://www.openbanking.org.uk/open-licence
  termsOfService: https://www.openbanking.org.uk/terms
  title: Payment Initiation API
  version: 4.0.0
openapi: 3.0.0
servers:
  - url: http://gateway.ahmet:8080/payment-initiation
  - url: /open-banking/v4.0/pisp
security:
  - jwtAuth: []
paths:
  /domestic-payment-consents:
    post:
      operationId: CreateDomesticPaymentConsents
      parameters:
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-idempotency-key'
        - $ref: '#/components/parameters/x-jws-signature'
        - $ref: '#/components/parameters/x-customer-user-agent'
      requestBody:
        content:
          application/jose+jwe:
            schema:
              $ref: '#/components/schemas/OBWriteDomesticConsent4'
          application/json:
            schema:
              $ref: '#/components/schemas/OBWriteDomesticConsent4'
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/OBWriteDomesticConsent4'
        description: Default
        required: true
      responses:
        '201':
          $ref: '#/components/responses/201DomesticPaymentConsentsCreated'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '415':
          $ref: '#/components/responses/415Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - TPPOAuth2Security:
            - payments
      summary: Create Domestic Payment Consents
      tags:
        - Domestic Payments
  /domestic-payment-consents/{ConsentId}:
    get:
      operationId: GetDomesticPaymentConsentsConsentId
      parameters:
        - $ref: '#/components/parameters/ConsentId'
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-customer-user-agent'
      responses:
        '200':
          $ref: '#/components/responses/200DomesticPaymentConsentsConsentIdRead'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - TPPOAuth2Security:
            - payments
      summary: Get Domestic Payment Consents
      tags:
        - Domestic Payments
    parameters:
      - in: path
        name: ConsentId
        required: true
        schema:
          type: string
  /domestic-payment-consents/{ConsentId}/funds-confirmation:
    get:
      operationId: GetDomesticPaymentConsentsConsentIdFundsConfirmation
      parameters:
        - $ref: '#/components/parameters/ConsentId'
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-customer-user-agent'
      responses:
        '200':
          $ref: >-
            #/components/responses/200DomesticPaymentConsentsConsentIdFundsConfirmationRead
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - PSUOAuth2Security:
            - payments
      summary: Get Domestic Payment Consents Funds Confirmation
      tags:
        - Domestic Payments
    parameters:
      - in: path
        name: ConsentId
        required: true
        schema:
          type: string
  /domestic-payments:
    post:
      operationId: CreateDomesticPayments
      parameters:
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-idempotency-key'
        - $ref: '#/components/parameters/x-jws-signature'
        - $ref: '#/components/parameters/x-customer-user-agent'
      requestBody:
        content:
          application/jose+jwe:
            schema:
              $ref: '#/components/schemas/OBWriteDomestic2'
          application/json:
            schema:
              $ref: '#/components/schemas/OBWriteDomestic2'
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/OBWriteDomestic2'
        description: Default
        required: true
      responses:
        '201':
          $ref: '#/components/responses/201DomesticPaymentsCreated'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '409':
          $ref: '#/components/responses/409Error'
        '415':
          $ref: '#/components/responses/415Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - PSUOAuth2Security:
            - payments
      summary: Create Domestic Payments
      tags:
        - Domestic Payments
  /domestic-payments/{DomesticPaymentId}:
    get:
      operationId: GetDomesticPaymentsDomesticPaymentId
      parameters:
        - $ref: '#/components/parameters/DomesticPaymentId'
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-customer-user-agent'
      responses:
        '200':
          $ref: '#/components/responses/200DomesticPaymentsDomesticPaymentIdRead'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - TPPOAuth2Security:
            - payments
      summary: Get Domestic Payments
      tags:
        - Domestic Payments
    parameters:
      - in: path
        name: DomesticPaymentId
        required: true
        schema:
          type: string
  /domestic-payments/{DomesticPaymentId}/payment-details:
    get:
      operationId: GetDomesticPaymentsDomesticPaymentIdPaymentDetails
      parameters:
        - $ref: '#/components/parameters/DomesticPaymentId'
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-customer-user-agent'
      responses:
        '200':
          $ref: >-
            #/components/responses/200DomesticPaymentsDomesticPaymentIdPaymentDetailsRead
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - TPPOAuth2Security:
            - payments
      summary: Get Payment Details
      tags:
        - Payment Details
    parameters:
      - in: path
        name: DomesticPaymentId
        required: true
        schema:
          type: string
  /domestic-scheduled-payment-consents:
    post:
      operationId: CreateDomesticScheduledPaymentConsents
      parameters:
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-idempotency-key'
        - $ref: '#/components/parameters/x-jws-signature'
        - $ref: '#/components/parameters/x-customer-user-agent'
      requestBody:
        content:
          application/jose+jwe:
            schema:
              $ref: '#/components/schemas/OBWriteDomesticScheduledConsent4'
          application/json:
            schema:
              $ref: '#/components/schemas/OBWriteDomesticScheduledConsent4'
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/OBWriteDomesticScheduledConsent4'
        description: Default
        required: true
      responses:
        '201':
          $ref: '#/components/responses/201DomesticScheduledPaymentConsentsCreated'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '409':
          $ref: '#/components/responses/409Error'
        '415':
          $ref: '#/components/responses/415Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - TPPOAuth2Security:
            - payments
      summary: Create Domestic Scheduled Payment Consents
      tags:
        - Domestic Scheduled Payments
  /domestic-scheduled-payment-consents/{ConsentId}:
    get:
      operationId: GetDomesticScheduledPaymentConsentsConsentId
      parameters:
        - $ref: '#/components/parameters/ConsentId'
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-customer-user-agent'
      responses:
        '200':
          $ref: >-
            #/components/responses/200DomesticScheduledPaymentConsentsConsentIdRead
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - TPPOAuth2Security:
            - payments
      summary: Get Domestic Scheduled Payment Consents
      tags:
        - Domestic Scheduled Payments
    parameters:
      - in: path
        name: ConsentId
        required: true
        schema:
          type: string
  /domestic-scheduled-payments:
    post:
      operationId: CreateDomesticScheduledPayments
      parameters:
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-idempotency-key'
        - $ref: '#/components/parameters/x-jws-signature'
        - $ref: '#/components/parameters/x-customer-user-agent'
      requestBody:
        content:
          application/jose+jwe:
            schema:
              $ref: '#/components/schemas/OBWriteDomesticScheduled2'
          application/json:
            schema:
              $ref: '#/components/schemas/OBWriteDomesticScheduled2'
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/OBWriteDomesticScheduled2'
        description: Default
        required: true
      responses:
        '201':
          $ref: '#/components/responses/201DomesticScheduledPaymentsCreated'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '409':
          $ref: '#/components/responses/409Error'
        '415':
          $ref: '#/components/responses/415Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - PSUOAuth2Security:
            - payments
      summary: Create Domestic Scheduled Payments
      tags:
        - Domestic Scheduled Payments
  /domestic-scheduled-payments/{DomesticScheduledPaymentId}:
    get:
      operationId: GetDomesticScheduledPaymentsDomesticScheduledPaymentId
      parameters:
        - $ref: '#/components/parameters/DomesticScheduledPaymentId'
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-customer-user-agent'
      responses:
        '200':
          $ref: >-
            #/components/responses/200DomesticScheduledPaymentsDomesticScheduledPaymentIdRead
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - TPPOAuth2Security:
            - payments
      summary: Get Domestic Scheduled Payments
      tags:
        - Domestic Scheduled Payments
    parameters:
      - in: path
        name: DomesticScheduledPaymentId
        required: true
        schema:
          type: string
  /domestic-scheduled-payments/{DomesticScheduledPaymentId}/payment-details:
    get:
      operationId: GetDomesticScheduledPaymentsDomesticScheduledPaymentIdPaymentDetails
      parameters:
        - $ref: '#/components/parameters/DomesticScheduledPaymentId'
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-customer-user-agent'
      responses:
        '200':
          $ref: >-
            #/components/responses/200DomesticScheduledPaymentsDomesticScheduledPaymentIdPaymentDetailsRead
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - TPPOAuth2Security:
            - payments
      summary: Get Payment Details
      tags:
        - Payment Details
    parameters:
      - in: path
        name: DomesticScheduledPaymentId
        required: true
        schema:
          type: string
  /domestic-standing-order-consents:
    post:
      operationId: CreateDomesticStandingOrderConsents
      parameters:
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-idempotency-key'
        - $ref: '#/components/parameters/x-jws-signature'
        - $ref: '#/components/parameters/x-customer-user-agent'
      requestBody:
        content:
          application/jose+jwe:
            schema:
              $ref: '#/components/schemas/OBWriteDomesticStandingOrderConsent5'
          application/json:
            schema:
              $ref: '#/components/schemas/OBWriteDomesticStandingOrderConsent5'
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/OBWriteDomesticStandingOrderConsent5'
        description: Default
        required: true
      responses:
        '201':
          $ref: '#/components/responses/201DomesticStandingOrderConsentsCreated'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '409':
          $ref: '#/components/responses/409Error'
        '415':
          $ref: '#/components/responses/415Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - TPPOAuth2Security:
            - payments
      summary: Create Domestic Standing Order Consents
      tags:
        - Domestic Standing Orders
  /domestic-standing-order-consents/{ConsentId}:
    get:
      operationId: GetDomesticStandingOrderConsentsConsentId
      parameters:
        - $ref: '#/components/parameters/ConsentId'
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-customer-user-agent'
      responses:
        '200':
          $ref: '#/components/responses/200DomesticStandingOrderConsentsConsentIdRead'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - TPPOAuth2Security:
            - payments
      summary: Get Domestic Standing Order Consents
      tags:
        - Domestic Standing Orders
    parameters:
      - in: path
        name: ConsentId
        required: true
        schema:
          type: string
  /domestic-standing-orders:
    post:
      operationId: CreateDomesticStandingOrders
      parameters:
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-idempotency-key'
        - $ref: '#/components/parameters/x-jws-signature'
        - $ref: '#/components/parameters/x-customer-user-agent'
      requestBody:
        content:
          application/jose+jwe:
            schema:
              $ref: '#/components/schemas/OBWriteDomesticStandingOrder3'
          application/json:
            schema:
              $ref: '#/components/schemas/OBWriteDomesticStandingOrder3'
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/OBWriteDomesticStandingOrder3'
        description: Default
        required: true
      responses:
        '201':
          $ref: '#/components/responses/201DomesticStandingOrdersCreated'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '409':
          $ref: '#/components/responses/409Error'
        '415':
          $ref: '#/components/responses/415Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - PSUOAuth2Security:
            - payments
      summary: Create Domestic Standing Orders
      tags:
        - Domestic Standing Orders
  /domestic-standing-orders/{DomesticStandingOrderId}:
    get:
      operationId: GetDomesticStandingOrdersDomesticStandingOrderId
      parameters:
        - $ref: '#/components/parameters/DomesticStandingOrderId'
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-customer-user-agent'
      responses:
        '200':
          $ref: >-
            #/components/responses/200DomesticStandingOrdersDomesticStandingOrderIdRead
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - TPPOAuth2Security:
            - payments
      summary: Get Domestic Standing Orders
      tags:
        - Domestic Standing Orders
    parameters:
      - in: path
        name: DomesticStandingOrderId
        required: true
        schema:
          type: string
  /domestic-standing-orders/{DomesticStandingOrderId}/payment-details:
    get:
      operationId: GetDomesticStandingOrdersDomesticStandingOrderIdPaymentDetails
      parameters:
        - $ref: '#/components/parameters/DomesticStandingOrderId'
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-customer-user-agent'
      responses:
        '200':
          $ref: >-
            #/components/responses/200DomesticStandingOrdersDomesticStandingOrderIdPaymentDetailsRead
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - TPPOAuth2Security:
            - payments
      summary: Get Payment Details
      tags:
        - Payment Details
    parameters:
      - in: path
        name: DomesticStandingOrderId
        required: true
        schema:
          type: string
  /file-payment-consents:
    post:
      operationId: CreateFilePaymentConsents
      parameters:
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-idempotency-key'
        - $ref: '#/components/parameters/x-jws-signature'
        - $ref: '#/components/parameters/x-customer-user-agent'
      requestBody:
        content:
          application/jose+jwe:
            schema:
              $ref: '#/components/schemas/OBWriteFileConsent3'
          application/json:
            schema:
              $ref: '#/components/schemas/OBWriteFileConsent3'
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/OBWriteFileConsent3'
        description: Default
        required: true
      responses:
        '201':
          $ref: '#/components/responses/201FilePaymentConsentsCreated'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '409':
          $ref: '#/components/responses/409Error'
        '415':
          $ref: '#/components/responses/415Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - TPPOAuth2Security:
            - payments
      summary: Create File Payment Consents
      tags:
        - File Payments
  /file-payment-consents/{ConsentId}:
    get:
      operationId: GetFilePaymentConsentsConsentId
      parameters:
        - $ref: '#/components/parameters/ConsentId'
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-customer-user-agent'
      responses:
        '200':
          $ref: '#/components/responses/200FilePaymentConsentsConsentIdRead'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - TPPOAuth2Security:
            - payments
      summary: Get File Payment Consents
      tags:
        - File Payments
    parameters:
      - in: path
        name: ConsentId
        required: true
        schema:
          type: string
  /file-payment-consents/{ConsentId}/file:
    get:
      operationId: GetFilePaymentConsentsConsentIdFile
      parameters:
        - $ref: '#/components/parameters/ConsentId'
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-customer-user-agent'
      responses:
        '200':
          $ref: '#/components/responses/200FilePaymentConsentsConsentIdFileRead'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - TPPOAuth2Security:
            - payments
      summary: Get File Payment Consents
      tags:
        - File Payments
    parameters:
      - in: path
        name: ConsentId
        required: true
        schema:
          type: string
    post:
      operationId: CreateFilePaymentConsentsConsentIdFile
      parameters:
        - $ref: '#/components/parameters/ConsentId'
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-idempotency-key'
        - $ref: '#/components/parameters/x-jws-signature'
        - $ref: '#/components/parameters/x-customer-user-agent'
      requestBody:
        content:
          application/jose+jwe:
            schema:
              $ref: '#/components/schemas/File'
          application/json:
            schema:
              $ref: '#/components/schemas/File'
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/File'
        description: Default
        required: true
      responses:
        '200':
          $ref: '#/components/responses/200FilePaymentConsentsConsentIdFileCreated'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '409':
          $ref: '#/components/responses/409Error'
        '415':
          $ref: '#/components/responses/415Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - TPPOAuth2Security:
            - payments
      summary: Create File Payment Consents
      tags:
        - File Payments
  /file-payments:
    post:
      operationId: CreateFilePayments
      parameters:
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-idempotency-key'
        - $ref: '#/components/parameters/x-jws-signature'
        - $ref: '#/components/parameters/x-customer-user-agent'
      requestBody:
        content:
          application/jose+jwe:
            schema:
              $ref: '#/components/schemas/OBWriteFile2'
          application/json:
            schema:
              $ref: '#/components/schemas/OBWriteFile2'
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/OBWriteFile2'
        description: Default
        required: true
      responses:
        '201':
          $ref: '#/components/responses/201FilePaymentsCreated'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '409':
          $ref: '#/components/responses/409Error'
        '415':
          $ref: '#/components/responses/415Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - PSUOAuth2Security:
            - payments
      summary: Create File Payments
      tags:
        - File Payments
  /file-payments/{FilePaymentId}:
    get:
      operationId: GetFilePaymentsFilePaymentId
      parameters:
        - $ref: '#/components/parameters/FilePaymentId'
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-customer-user-agent'
      responses:
        '200':
          $ref: '#/components/responses/200FilePaymentsFilePaymentIdRead'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - TPPOAuth2Security:
            - payments
      summary: Get File Payments
      tags:
        - File Payments
    parameters:
      - in: path
        name: FilePaymentId
        required: true
        schema:
          type: string
  /file-payments/{FilePaymentId}/payment-details:
    get:
      operationId: GetFilePaymentsFilePaymentIdPaymentDetails
      parameters:
        - $ref: '#/components/parameters/FilePaymentId'
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-customer-user-agent'
      responses:
        '200':
          $ref: >-
            #/components/responses/200FilePaymentsFilePaymentIdPaymentDetailsRead
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - TPPOAuth2Security:
            - payments
      summary: Get Payment Details
      tags:
        - Payment Details
    parameters:
      - in: path
        name: FilePaymentId
        required: true
        schema:
          type: string
  /file-payments/{FilePaymentId}/report-file:
    get:
      operationId: GetFilePaymentsFilePaymentIdReportFile
      parameters:
        - $ref: '#/components/parameters/FilePaymentId'
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-customer-user-agent'
      responses:
        '200':
          $ref: '#/components/responses/200FilePaymentsFilePaymentIdReportFileRead'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - TPPOAuth2Security:
            - payments
      summary: Get File Payments
      tags:
        - File Payments
    parameters:
      - in: path
        name: FilePaymentId
        required: true
        schema:
          type: string
  /international-payment-consents:
    post:
      operationId: CreateInternationalPaymentConsents
      parameters:
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-idempotency-key'
        - $ref: '#/components/parameters/x-jws-signature'
        - $ref: '#/components/parameters/x-customer-user-agent'
      requestBody:
        content:
          application/jose+jwe:
            schema:
              $ref: '#/components/schemas/OBWriteInternationalConsent5'
          application/json:
            schema:
              $ref: '#/components/schemas/OBWriteInternationalConsent5'
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/OBWriteInternationalConsent5'
        description: Default
        required: true
      responses:
        '201':
          $ref: '#/components/responses/201InternationalPaymentConsentsCreated'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '409':
          $ref: '#/components/responses/409Error'
        '415':
          $ref: '#/components/responses/415Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - TPPOAuth2Security:
            - payments
      summary: Create International Payment Consents
      tags:
        - International Payments
  /international-payment-consents/{ConsentId}:
    get:
      operationId: GetInternationalPaymentConsentsConsentId
      parameters:
        - $ref: '#/components/parameters/ConsentId'
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-customer-user-agent'
      responses:
        '200':
          $ref: '#/components/responses/200InternationalPaymentConsentsConsentIdRead'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - TPPOAuth2Security:
            - payments
      summary: Get International Payment Consents
      tags:
        - International Payments
    parameters:
      - in: path
        name: ConsentId
        required: true
        schema:
          type: string
  /international-payment-consents/{ConsentId}/funds-confirmation:
    get:
      operationId: GetInternationalPaymentConsentsConsentIdFundsConfirmation
      parameters:
        - $ref: '#/components/parameters/ConsentId'
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-customer-user-agent'
      responses:
        '200':
          $ref: >-
            #/components/responses/200InternationalPaymentConsentsConsentIdFundsConfirmationRead
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - PSUOAuth2Security:
            - payments
      summary: Get International Payment Consents Funds Confirmation
      tags:
        - International Payments
    parameters:
      - in: path
        name: ConsentId
        required: true
        schema:
          type: string
  /international-payments:
    post:
      operationId: CreateInternationalPayments
      parameters:
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-idempotency-key'
        - $ref: '#/components/parameters/x-jws-signature'
        - $ref: '#/components/parameters/x-customer-user-agent'
      requestBody:
        content:
          application/jose+jwe:
            schema:
              $ref: '#/components/schemas/OBWriteInternational3'
          application/json:
            schema:
              $ref: '#/components/schemas/OBWriteInternational3'
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/OBWriteInternational3'
        description: Default
        required: true
      responses:
        '201':
          $ref: '#/components/responses/201InternationalPaymentsCreated'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '415':
          $ref: '#/components/responses/415Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - PSUOAuth2Security:
            - payments
      summary: Create International Payments
      tags:
        - International Payments
  /international-payments/{InternationalPaymentId}:
    get:
      operationId: GetInternationalPaymentsInternationalPaymentId
      parameters:
        - $ref: '#/components/parameters/InternationalPaymentId'
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-customer-user-agent'
      responses:
        '200':
          $ref: >-
            #/components/responses/200InternationalPaymentsInternationalPaymentIdRead
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - TPPOAuth2Security:
            - payments
      summary: Get International Payments
      tags:
        - International Payments
    parameters:
      - in: path
        name: InternationalPaymentId
        required: true
        schema:
          type: string
  /international-payments/{InternationalPaymentId}/payment-details:
    get:
      operationId: GetInternationalPaymentsInternationalPaymentIdPaymentDetails
      parameters:
        - $ref: '#/components/parameters/InternationalPaymentId'
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-customer-user-agent'
      responses:
        '200':
          $ref: >-
            #/components/responses/200InternationalPaymentsInternationalPaymentIdPaymentDetailsRead
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - TPPOAuth2Security:
            - payments
      summary: Get Payment Details
      tags:
        - Payment Details
    parameters:
      - in: path
        name: InternationalPaymentId
        required: true
        schema:
          type: string
  /international-scheduled-payment-consents:
    post:
      operationId: CreateInternationalScheduledPaymentConsents
      parameters:
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-idempotency-key'
        - $ref: '#/components/parameters/x-jws-signature'
        - $ref: '#/components/parameters/x-customer-user-agent'
      requestBody:
        content:
          application/jose+jwe:
            schema:
              $ref: '#/components/schemas/OBWriteInternationalScheduledConsent5'
          application/json:
            schema:
              $ref: '#/components/schemas/OBWriteInternationalScheduledConsent5'
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/OBWriteInternationalScheduledConsent5'
        description: Default
        required: true
      responses:
        '201':
          $ref: >-
            #/components/responses/201InternationalScheduledPaymentConsentsCreated
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '409':
          $ref: '#/components/responses/409Error'
        '415':
          $ref: '#/components/responses/415Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - TPPOAuth2Security:
            - payments
      summary: Create International Scheduled Payment Consents
      tags:
        - International Scheduled Payments
  /international-scheduled-payment-consents/{ConsentId}:
    get:
      operationId: GetInternationalScheduledPaymentConsentsConsentId
      parameters:
        - $ref: '#/components/parameters/ConsentId'
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-customer-user-agent'
      responses:
        '200':
          $ref: >-
            #/components/responses/200InternationalScheduledPaymentConsentsConsentIdRead
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - TPPOAuth2Security:
            - payments
      summary: Get International Scheduled Payment Consents
      tags:
        - International Scheduled Payments
    parameters:
      - in: path
        name: ConsentId
        required: true
        schema:
          type: string
  /international-scheduled-payment-consents/{ConsentId}/funds-confirmation:
    get:
      operationId: GetInternationalScheduledPaymentConsentsConsentIdFundsConfirmation
      parameters:
        - $ref: '#/components/parameters/ConsentId'
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-customer-user-agent'
      responses:
        '200':
          $ref: >-
            #/components/responses/200InternationalScheduledPaymentConsentsConsentIdFundsConfirmationRead
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - PSUOAuth2Security:
            - payments
      summary: Get International Scheduled Payment Consents Funds Confirmation
      tags:
        - International Scheduled Payments
    parameters:
      - in: path
        name: ConsentId
        required: true
        schema:
          type: string
  /international-scheduled-payments:
    post:
      operationId: CreateInternationalScheduledPayments
      parameters:
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-idempotency-key'
        - $ref: '#/components/parameters/x-jws-signature'
        - $ref: '#/components/parameters/x-customer-user-agent'
      requestBody:
        content:
          application/jose+jwe:
            schema:
              $ref: '#/components/schemas/OBWriteInternationalScheduled3'
          application/json:
            schema:
              $ref: '#/components/schemas/OBWriteInternationalScheduled3'
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/OBWriteInternationalScheduled3'
        description: Default
        required: true
      responses:
        '201':
          $ref: '#/components/responses/201InternationalScheduledPaymentsCreated'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '409':
          $ref: '#/components/responses/409Error'
        '415':
          $ref: '#/components/responses/415Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - PSUOAuth2Security:
            - payments
      summary: Create International Scheduled Payments
      tags:
        - International Scheduled Payments
  /international-scheduled-payments/{InternationalScheduledPaymentId}:
    get:
      operationId: GetInternationalScheduledPaymentsInternationalScheduledPaymentId
      parameters:
        - $ref: '#/components/parameters/InternationalScheduledPaymentId'
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-customer-user-agent'
      responses:
        '200':
          $ref: >-
            #/components/responses/200InternationalScheduledPaymentsInternationalScheduledPaymentIdRead
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - TPPOAuth2Security:
            - payments
      summary: Get International Scheduled Payments
      tags:
        - International Scheduled Payments
    parameters:
      - in: path
        name: InternationalScheduledPaymentId
        required: true
        schema:
          type: string
  /international-scheduled-payments/{InternationalScheduledPaymentId}/payment-details:
    get:
      operationId: >-
        GetInternationalScheduledPaymentsInternationalScheduledPaymentIdPaymentDetails
      parameters:
        - $ref: '#/components/parameters/InternationalScheduledPaymentId'
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-customer-user-agent'
      responses:
        '200':
          $ref: >-
            #/components/responses/200InternationalScheduledPaymentsInternationalScheduledPaymentIdPaymentDetailsRead
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - TPPOAuth2Security:
            - payments
      summary: Get Payment Details
      tags:
        - Payment Details
    parameters:
      - in: path
        name: InternationalScheduledPaymentId
        required: true
        schema:
          type: string
  /international-standing-order-consents:
    post:
      operationId: CreateInternationalStandingOrderConsents
      parameters:
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-idempotency-key'
        - $ref: '#/components/parameters/x-jws-signature'
        - $ref: '#/components/parameters/x-customer-user-agent'
      requestBody:
        content:
          application/jose+jwe:
            schema:
              $ref: '#/components/schemas/OBWriteInternationalStandingOrderConsent6'
          application/json:
            schema:
              $ref: '#/components/schemas/OBWriteInternationalStandingOrderConsent6'
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/OBWriteInternationalStandingOrderConsent6'
        description: Default
        required: true
      responses:
        '201':
          $ref: '#/components/responses/201InternationalStandingOrderConsentsCreated'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '409':
          $ref: '#/components/responses/409Error'
        '415':
          $ref: '#/components/responses/415Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - TPPOAuth2Security:
            - payments
      summary: Create International Standing Order Consents
      tags:
        - International Standing Orders
  /international-standing-order-consents/{ConsentId}:
    get:
      operationId: GetInternationalStandingOrderConsentsConsentId
      parameters:
        - $ref: '#/components/parameters/ConsentId'
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-customer-user-agent'
      responses:
        '200':
          $ref: >-
            #/components/responses/200InternationalStandingOrderConsentsConsentIdRead
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - TPPOAuth2Security:
            - payments
      summary: Get International Standing Order Consents
      tags:
        - International Standing Orders
    parameters:
      - in: path
        name: ConsentId
        required: true
        schema:
          type: string
  /international-standing-orders:
    post:
      operationId: CreateInternationalStandingOrders
      parameters:
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-idempotency-key'
        - $ref: '#/components/parameters/x-jws-signature'
        - $ref: '#/components/parameters/x-customer-user-agent'
      requestBody:
        content:
          application/jose+jwe:
            schema:
              $ref: '#/components/schemas/OBWriteInternationalStandingOrder4'
          application/json:
            schema:
              $ref: '#/components/schemas/OBWriteInternationalStandingOrder4'
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/OBWriteInternationalStandingOrder4'
        description: Default
        required: true
      responses:
        '201':
          $ref: '#/components/responses/201InternationalStandingOrdersCreated'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '409':
          $ref: '#/components/responses/409Error'
        '415':
          $ref: '#/components/responses/415Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - PSUOAuth2Security:
            - payments
      summary: Create International Standing Orders
      tags:
        - International Standing Orders
  /international-standing-orders/{InternationalStandingOrderPaymentId}:
    get:
      operationId: GetInternationalStandingOrdersInternationalStandingOrderPaymentId
      parameters:
        - $ref: '#/components/parameters/InternationalStandingOrderPaymentId'
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-customer-user-agent'
      responses:
        '200':
          $ref: >-
            #/components/responses/200InternationalStandingOrdersInternationalStandingOrderPaymentIdRead
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - TPPOAuth2Security:
            - payments
      summary: Get International Standing Orders
      tags:
        - International Standing Orders
    parameters:
      - in: path
        name: InternationalStandingOrderPaymentId
        required: true
        schema:
          type: string
  /international-standing-orders/{InternationalStandingOrderPaymentId}/payment-details:
    get:
      operationId: >-
        GetInternationalStandingOrdersInternationalStandingOrderPaymentIdPaymentDetails
      parameters:
        - $ref: '#/components/parameters/InternationalStandingOrderPaymentId'
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-customer-user-agent'
      responses:
        '200':
          $ref: >-
            #/components/responses/200InternationalStandingOrdersInternationalStandingOrderPaymentIdPaymentDetailsRead
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - TPPOAuth2Security:
            - payments
      summary: Get Payment Details
      tags:
        - Payment Details
    parameters:
      - in: path
        name: InternationalStandingOrderPaymentId
        required: true
        schema:
          type: string
components:
  schemas:
    ActiveOrHistoricCurrencyCode:
      description: >-
        A code allocated to a currency by a Maintenance Agency under an
        international identification scheme, as described in the latest edition
        of the international standard ISO 4217 "Codes for the representation of
        currencies and funds".
      pattern: ^[A-Z]{3,3}$
      type: string
    BuildingName:
      description: Name of a referenced building.
      maxLength: 140
      minLength: 1
      type: string
    BuildingNumber:
      description: Number that identifies the position of a building on a street.
      maxLength: 16
      minLength: 1
      type: string
    CareOf:
      description: >-
        The 'care of' address is used whenever sending mail to a person or
        organisation who does not actually live or work at the address. They
        will receive the mail for the individual.
      maxLength: 140
      minLength: 1
      type: string
    CountryCode:
      description: Nation with its own government.
      pattern: ^[A-Z]{2,2}$
      type: string
    CountrySubDivision:
      description: Identifies a subdivision of a country such as state, region, county.
      maxLength: 35
      minLength: 1
      type: string
    Date:
      description: >-
        Date and time associated with the date time type. All dates in the JSON
        payloads are represented in ISO 8601 date format. 
         An example is below:
        2017-04-05
      format: date
      type: string
    Department:
      description: Identification of a division of a large organisation or building.
      maxLength: 70
      minLength: 1
      type: string
    DistrictName:
      description: >-
        Number that of the regional area, known as a district, which forms part
        of an address
      maxLength: 140
      minLength: 1
      type: string
    ExternalCategoryPurpose1Code:
      description: >-
        Enumeration of codes that outlines the type of purpose behind a
        transaction, payment or risk. 
         For all enum values see `ExternalCategoryPurpose1Code` [here](https://github.com/OpenBankingUK/External_Internal_CodeSets)
      enum:
        - BONU
        - CASH
        - CBLK
        - CCRD
        - CGWV
        - CIPC
        - CONC
        - CORT
        - DCRD
        - DIVI
        - DVPM
        - EPAY
        - FCDT
        - FCIN
        - FCOL
        - GOVT
        - GP2P
        - HEDG
        - ICCP
        - IDCP
        - INTC
        - INTE
        - LBOX
        - LOAN
        - MP2B
        - MP2P
        - OTHR
        - PENS
        - RPRE
        - RRCT
        - RVPM
        - SALA
        - SECU
        - SSBE
        - SUPP
        - SWEP
        - TAXS
        - TOPG
        - TRAD
        - TREA
        - VATX
        - VOST
        - WHLD
        - ZABA
      type: string
    ExternalCreditorReferenceType1Code:
      description: >-
        Specifies the type of creditor reference as published in an external
        creditor reference type code set. For more information see
        `ExternalCreditorReferenceType1Code` in *ISO_External_CodeSet*
        [here](https://github.com/OpenBankingUK/External_Internal_CodeSets)
      enum:
        - DISP
        - FXDR
        - PUOR
        - RPIN
        - RADM
        - SCOR
      maxLength: 4
      minLength: 1
      type: string
    ExternalDocumentType1Code:
      description: >-
        Specifies the document type as published in an external document type
        code list. For more information see `ExternalDocumentType1Code` in
        *ISO_External_CodeSet*
        [here](https://github.com/OpenBankingUK/External_Internal_CodeSets)
      enum:
        - CINV
        - CNFA
        - CONT
        - CREN
        - DEBN
        - DISP
        - DNFA
        - HIRI
        - INVS
        - MSIN
        - PROF
        - PUOR
        - QUOT
        - SBIN
        - SPRR
        - TISH
      maxLength: 4
      minLength: 1
      type: string
    ExternalProxyAccountType1Code:
      description: >-
        Specifies the external proxy account type code, as published in the
        proxy account type external code set.<br /> For a full list of values
        see `ExternalProxyAccountType1Code` in *ISO_External_CodeSet*
        [here](https://github.com/OpenBankingUK/External_Internal_CodeSets)
      enum:
        - TELE
        - EMAL
        - DNAM
        - CINC
        - COTX
        - COID
        - CUST
        - DRLC
        - EIDN
        - EWAL
        - PVTX
        - LEIC
        - MBNO
        - NIDN
        - CCPT
        - SHID
        - SOSE
        - TOKN
        - UBIL
        - VIPN
        - BIID
      type: string
    ExternalPurpose1Code:
      description: >-
        This is a partial list, For a full list see `ExternalPurpose1Code`
        [here](https://github.com/OpenBankingUK/External_Internal_CodeSets)
      enum:
        - BKDF
        - BKFE
        - BKFM
        - BKIP
        - BKPP
        - CBLK
        - CDCB
        - CDCD
        - CDCS
        - CDDP
        - CDOC
        - CDQC
        - ETUP
        - FCOL
        - MTUP
        - ACCT
        - CASH
        - COLL
        - CSDB
        - DEPT
        - INTC
        - INTP
        - LIMA
        - NETT
        - BFWD
        - CCIR
        - CCPC
        - CCPM
        - CCSM
        - CRDS
        - CRPR
        - CRSP
        - CRTL
        - EQPT
        - EQUS
        - EXPT
        - EXTD
        - FIXI
        - FWBC
        - FWCC
        - FWSB
        - FWSC
        - MARG
        - MBSB
        - MBSC
        - MGCC
        - MGSC
        - OCCC
        - OPBC
        - OPCC
        - OPSB
        - OPSC
        - OPTN
        - OTCD
        - REPO
        - RPBC
        - RPCC
        - RPSB
        - RPSC
        - RVPO
        - SBSC
        - SCIE
        - SCIR
        - SCRP
        - SHBC
        - SHCC
        - SHSL
        - SLEB
        - SLOA
        - SWBC
        - SWCC
        - SWPT
        - SWSB
        - SWSC
        - TBAS
        - TBBC
        - TBCC
        - TRCP
        - AGRT
        - AREN
        - BEXP
        - BOCE
        - COMC
        - CPYR
        - GDDS
        - GDSV
        - GSCB
        - LICF
        - MP2B
        - POPE
        - ROYA
        - SCVE
        - SERV
        - SUBS
        - SUPP
        - TRAD
        - CHAR
        - COMT
        - MP2P
        - ECPG
        - ECPR
        - ECPU
        - EPAY
        - CLPR
        - COMP
        - DBTC
        - GOVI
        - HLRP
        - HLST
        - INPC
        - INPR
        - INSC
        - INSU
        - INTE
        - LBRI
        - LIFI
        - LOAN
        - LOAR
        - PENO
        - PPTI
        - RELG
        - RINP
        - TRFD
        - FORW
        - FXNT
        - ADMG
        - ADVA
        - BCDM
        - BCFG
        - BLDM
        - BNET
        - CBFF
        - CBFR
        - CCRD
        - CDBL
        - CFEE
        - CGDD
        - CORT
        - COST
        - CPKC
        - DCRD
        - DSMT
        - DVPM
        - EDUC
        - FACT
        - FAND
        - FCPM
        - FEES
        - GIFT
        - GOVT
        - ICCP
        - IDCP
        - IHRP
        - INSM
        - IVPT
        - MCDM
        - MCFG
        - MSVC
        - NOWS
        - OCDM
        - OCFG
        - OFEE
        - OTHR
        - PADD
        - PTSP
        - RCKE
        - RCPT
        - REBT
        - REFU
        - RENT
        - REOD
        - RIMB
        - RPNT
        - RRBN
        - RRCT
        - RRTP
        - RVPM
        - SLPI
        - SPLT
        - STDY
        - TBAN
        - TBIL
        - TCSC
        - TELI
        - TMPG
        - TPRI
        - TPRP
        - TRNC
        - TRVC
        - WEBI
        - IPAY
        - IPCA
        - IPDO
        - IPEA
        - IPEC
        - IPEW
        - IPPS
        - IPRT
        - IPU2
        - IPUW
        - ANNI
        - CAFI
        - CFDI
        - CMDT
        - DERI
        - DIVD
        - FREX
        - HEDG
        - INVS
        - PRME
        - SAVG
        - SECU
        - SEPI
        - TREA
        - UNIT
        - FNET
        - FUTR
        - ANTS
        - CVCF
        - DMEQ
        - DNTS
        - HLTC
        - HLTI
        - HSPC
        - ICRF
        - LTCF
        - MAFC
        - MARF
        - MDCS
        - VIEW
        - CDEP
        - SWFP
        - SWPP
        - SWRS
        - SWUF
        - ADCS
        - AEMP
        - ALLW
        - ALMY
        - BBSC
        - BECH
        - BENE
        - BONU
        - CCHD
        - COMM
        - CSLP
        - GFRP
        - GVEA
        - GVEB
        - GVEC
        - GVED
        - GWLT
        - HREC
        - PAYR
        - PEFC
        - PENS
        - PRCP
        - RHBS
        - SALA
        - SPSP
        - SSBE
        - LBIN
        - LCOL
        - LFEE
        - LMEQ
        - LMFI
        - LMRK
        - LREB
        - LREV
        - LSFL
        - ESTX
        - FWLV
        - GSTX
        - HSTX
        - INTX
        - NITX
        - PTXP
        - RDTX
        - TAXS
        - VATX
        - WHLD
        - TAXR
        - B112
        - BR12
        - TLRF
        - TLRR
        - AIRB
        - BUSB
        - FERB
        - RLWY
        - TRPT
        - CBTV
        - ELEC
        - ENRG
        - GASB
        - NWCH
        - NWCM
        - OTLC
        - PHON
        - UBIL
        - WTER
        - BOND
        - CABD
        - CAEQ
        - CBCR
        - DBCR
        - DICL
        - EQTS
        - FLCR
        - EFTC
        - EFTD
        - MOMA
        - RAPI
        - GAMB
        - LOTT
        - AMEX
        - SASW
        - AUCO
        - PCOM
        - PDEP
        - PLDS
        - PLRF
        - GAFA
        - GAHO
        - CPEN
        - DEPD
        - RETL
        - DEBT
      maxLength: 4
      minLength: 1
      type: string
    File:
      additionalProperties: false
      type: object
    Floor:
      description: Number that identifies the level within a building
      maxLength: 70
      minLength: 1
      type: string
    Frequency_1:
      description: >-
        Individual Definitions:

        NotKnown - Not Known

        EvryDay - Every day

        EvryWorkgDay - Every working day

        IntrvlDay - An interval specified in number of calendar days (02 to 31)

        IntrvlWkDay - An interval specified in weeks (01 to 09), and the day
        within the week (01 to 07)

        WkInMnthDay - A monthly interval, specifying the week of the month (01
        to 05) and day within the week (01 to 07)

        IntrvlMnthDay - An interval specified in months (between 01 to 06, 12,
        24), specifying the day within the month (-05 to -01, 01 to 31)

        QtrDay - Quarterly (either ENGLISH, SCOTTISH, or RECEIVED)

        ENGLISH = Paid on the 25th March, 24th June, 29th September and 25th
        December.

        SCOTTISH = Paid on the 2nd February, 15th May, 1st August and 11th
        November.

        RECEIVED = Paid on the 20th March, 19th June, 24th September and 20th
        December.

        Individual Patterns:

        NotKnown (ScheduleCode)

        EvryDay (ScheduleCode)

        EvryWorkgDay (ScheduleCode)

        IntrvlDay:NoOfDay (ScheduleCode + NoOfDay)

        IntrvlWkDay:IntervalInWeeks:DayInWeek (ScheduleCode + IntervalInWeeks +
        DayInWeek)

        WkInMnthDay:WeekInMonth:DayInWeek (ScheduleCode + WeekInMonth +
        DayInWeek)

        IntrvlMnthDay:IntervalInMonths:DayInMonth (ScheduleCode +
        IntervalInMonths + DayInMonth)

        QtrDay: + either (ENGLISH, SCOTTISH or RECEIVED) ScheduleCode +
        QuarterDay

        The regular expression for this element combines five smaller versions
        for each permitted pattern. To aid legibility - the components are
        presented individually here:

        NotKnown

        EvryDay

        EvryWorkgDay

        IntrvlDay:((0[2-9])|([1-2][0-9])|3[0-1])

        IntrvlWkDay:0[1-9]:0[1-7]

        WkInMnthDay:0[1-5]:0[1-7]

        IntrvlMnthDay:(0[1-6]|12|24):(-0[1-5]|0[1-9]|[12][0-9]|3[01])

        QtrDay:(ENGLISH|SCOTTISH|RECEIVED)

        Full Regular Expression:

        ^(NotKnown)$|^(EvryDay)$|^(EvryWorkgDay)$|^(IntrvlDay:((0[2-9])|([1-2][0-9])|3[0-1]))$|^(IntrvlWkDay:0[1-9]:0[1-7])$|^(WkInMnthDay:0[1-5]:0[1-7])$|^(IntrvlMnthDay:(0[1-6]|12|24):(-0[1-5]|0[1-9]|[12][0-9]|3[01]))$|^(QtrDay:(ENGLISH|SCOTTISH|RECEIVED))$
      pattern: >-
        ^(NotKnown)$|^(EvryDay)$|^(EvryWorkgDay)$|^(IntrvlDay:((0[2-9])|([1-2][0-9])|3[0-1]))$|^(IntrvlWkDay:0[1-9]:0[1-7])$|^(WkInMnthDay:0[1-5]:0[1-7])$|^(IntrvlMnthDay:(0[1-6]|12|24):(-0[1-5]|0[1-9]|[12][0-9]|3[01]))$|^(QtrDay:(ENGLISH|SCOTTISH|RECEIVED))$
      type: string
    ISODateTime:
      description: >-
        All dates in the JSON payloads are represented in ISO 8601 date-time
        format. 

        All date-time fields in responses must include the timezone. An example
        is below:

        2017-04-05T10:43:07+00:00
      format: date-time
      type: string
    Identification_0:
      description: >-
        Identification assigned by an institution to identify an account. This
        identification is known by the account owner.
      maxLength: 256
      minLength: 1
      type: string
    Identification_1:
      description: >-
        Unique and unambiguous identification of a financial institution or a
        branch of a financial institution.
      maxLength: 35
      minLength: 1
      type: string
    Identification_3:
      description: >-
        Identification of the organisation issuing the invoice, when it is
        different from the creditor or ultimate creditor
      example: '80200112344562'
      maxLength: 256
      minLength: 1
      type: string
    Identification_4:
      description: >-
        Identification of the party to whom an invoice is issued, when it is
        different from the debtor or ultimate debtor.
      example: '80200112344562'
      maxLength: 256
      minLength: 1
      type: string
    LEI:
      description: >-
        Legal entity identification as an alternate identification for a party.
        Legal Entity Identifier is a code allocated to a party as described in
        ISO 17442 "Financial Services - Legal Entity Identifier (LEI)".
      maxLength: 20
      minLength: 1
      pattern: ^[0-9]{4}[0]{2}[A-Z0-9]{12}[0-9]{2}
      type: string
    Links:
      additionalProperties: false
      description: Links relevant to the payload
      properties:
        First:
          format: uri
          type: string
        Last:
          format: uri
          type: string
        Next:
          format: uri
          type: string
        Prev:
          format: uri
          type: string
        Self:
          format: uri
          type: string
      required:
        - Self
      type: object
    Meta:
      additionalProperties: false
      description: Meta Data relevant to the payload
      properties:
        FirstAvailableDateTime:
          $ref: '#/components/schemas/ISODateTime'
        LastAvailableDateTime:
          $ref: '#/components/schemas/ISODateTime'
        TotalPages:
          format: int32
          type: integer
      title: MetaData
      type: object
    Name:
      description: >-
        Name by which an agent is known and which is usually used to identify
        that agent.
      maxLength: 140
      minLength: 1
      type: string
    NumberOfPayments:
      description: >-
        Number of the payments that will be made in completing this frequency
        sequence including any executed since the sequence start date.
      maxLength: 35
      minLength: 1
      type: string
    OBActiveCurrencyAndAmount_SimpleType:
      description: >-
        A number of monetary units specified in an active currency where the
        unit of currency is explicit and compliant with ISO 4217.
      pattern: ^\d{1,13}$|^\d{1,13}\.\d{1,5}$
      type: string
    OBActiveOrHistoricCurrencyAndAmount:
      additionalProperties: false
      description: Amount of money associated with the charge type.
      properties:
        Amount:
          $ref: '#/components/schemas/OBActiveCurrencyAndAmount_SimpleType'
        Currency:
          $ref: '#/components/schemas/ActiveOrHistoricCurrencyCode'
      required:
        - Amount
        - Currency
      type: object
    OBAddressType2Code:
      description: >-
        Identifies the nature of the postal address. For a full set of codes see
        `OBAddressType2Code`
        [here](https://github.com/OpenBankingUK/External_Internal_CodeSets).
      enum:
        - BIZZ
        - DLVY
        - MLTO
        - PBOX
        - ADDR
        - HOME
        - CORR
        - STAT
      type: string
    OBAddressTypeCode:
      description: Identifies the nature of the postal address.
      enum:
        - Business
        - Correspondence
        - DeliveryTo
        - MailTo
        - POBox
        - Postal
        - Residential
        - Statement
      type: string
    OBBranchAndFinancialInstitutionIdentification6_0:
      description: >-
        Party that manages the account on behalf of the account owner, that is
        manages the registration and booking of entries on the account,
        calculates balances on the account and provides information about the
        account.

        This is the servicer of the beneficiary account.
      properties:
        Identification:
          $ref: '#/components/schemas/Identification_1'
        LEI:
          $ref: '#/components/schemas/LEI'
        Name:
          $ref: '#/components/schemas/Name'
        PostalAddress:
          $ref: '#/components/schemas/OBPostalAddress7'
        SchemeName:
          $ref: >-
            #/components/schemas/OBInternalFinancialInstitutionIdentification4Code
      type: object
    OBCashAccountCreditor3:
      properties:
        Identification:
          description: >-
            Identification assigned by an institution to identify an account.
            This identification is known by the account owner.
          maxLength: 256
          type: string
        LEI:
          $ref: '#/components/schemas/LEI'
        Name:
          description: >-
            Name of the account, as assigned by the account servicing
            institution.  Usage The account name is the name or names of the
            account owner(s) represented at an account level. The account name
            is not the product name or the nickname of the account.
          type: string
        Proxy:
          $ref: '#/components/schemas/OBProxy1'
        SchemeName:
          $ref: '#/components/schemas/OBInternalAccountIdentification4Code'
        SecondaryIdentification:
          description: >-
            Secondary identification of the account, as assigned by the account
            servicing institution. This can be used by building societies to
            additionally identify accounts with a roll number (in addition to a
            sort code and account number combination).
          maxLength: 34
          type: string
      required:
        - SchemeName
        - Identification
        - Name
      type: object
    OBCashAccountDebtor4:
      description: >-
        ^ Only included in the response if `Data. ReadRefundAccount` is set to
        `Yes` in the consent.
      properties:
        Identification:
          description: >-
            ^ Identification assigned by an institution to identify an account.
            This identification is known by the account owner. | Max256Text
          type: string
        LEI:
          $ref: '#/components/schemas/LEI'
        Name:
          description: >-
            ^ Name of the account, as assigned by the account servicing
            institution.  Usage The account name is the name or names of the
            account owner(s) represented at an account level. The account name
            is not the product name or the nickname of the account.
          type: string
        SchemeName:
          description: >-
            ^ Name of the identification scheme, in a coded form as published in
            an external list. | Namespaced Enumeration
            OBInternalAccountIdentification4Code
          type: string
        SecondaryIdentification:
          description: >-
            ^ This is secondary identification of the account, as assigned by
            the account servicing institution.  This can be used by building
            societies to additionally identify accounts with a roll number (in
            addition to a sort code and account number combination) | Max34Text
          type: string
      type: object
    OBError1:
      additionalProperties: false
      minProperties: 1
      properties:
        ErrorCode:
          $ref: '#/components/schemas/OBInternalErrorResponseError1Code'
        Message:
          description: >-
            A description of the error that occurred. e.g., 'A mandatory field
            isn't supplied' or 'RequestedExecutionDateTime must be in future'

            OBL doesn't standardise this field
          maxLength: 500
          minLength: 1
          type: string
        Path:
          description: >-
            Recommended but optional reference to the JSON Path of the field
            with error, e.g., Data.Initiation.InstructedAmount.Currency
          maxLength: 500
          minLength: 1
          type: string
        Url:
          description: >-
            URL to help remediate the problem, or provide more information, or
            to API Reference, or help etc
          type: string
      required:
        - ErrorCode
      type: object
    OBErrorResponse1:
      additionalProperties: false
      description: >-
        An array of detail error codes, and messages, and URLs to documentation
        to help remediation.
      properties:
        Code:
          description: >-
            Deprecated <br>High level textual error code, to help categorise the
            errors.
          example: 400 BadRequest
          maxLength: 40
          minLength: 1
          type: string
        Errors:
          items:
            $ref: '#/components/schemas/OBError1'
          minItems: 1
          type: array
        Id:
          description: >-
            A unique reference for the error instance, for audit purposes, in
            case of unknown/unclassified errors.
          maxLength: 40
          minLength: 1
          type: string
        Message:
          description: Deprecated <br>Brief Error message
          example: There is something wrong with the request parameters provided
          maxLength: 500
          minLength: 1
          type: string
      required:
        - Errors
      type: object
    OBExternalMandateClassification1Code:
      enum:
        - FIXE
        - USGB
        - VARI
      type: string
    OBFrequency6:
      description: >-
        Regularity with which credit transfer instructions are to be created and
        processed
      properties:
        CountPerPeriod:
          description: >-
            Number of instructions to be created and processed during the
            specified period .Specifies a frequency in terms of a count per
            period within a specified frequency type. Note: should not be used
            alongside `PointInTime`
          example: 1
          format: int32
          type: integer
        PointInTime:
          $ref: '#/components/schemas/PointInTime'
        Type:
          oneOf:
            - $ref: '#/components/schemas/OBFrequency6Code'
            - $ref: '#/components/schemas/Frequency_1'
      required:
        - Type
      type: object
    OBFrequency6Code:
      description: '`OBFrequency6Code` on External Codset Repo'
      enum:
        - ADHO
        - YEAR
        - DAIL
        - FRTN
        - INDA
        - MNTH
        - QURT
        - MIAN
        - WEEK
        - WEEK
        - WODL
        - FOWK
        - TWMH
        - FOMH
        - FIMH
        - ALMH
        - NONE
      type: string
    OBInternalAccountIdentification4Code:
      description: >-
        Name of the identification scheme, in a coded form as published in an
        external list. For a full list of values refer to
        `OBInternalAccountIdentification4Code` in *OB_Internal_CodeSet*
        [here](https://github.com/OpenBankingUK/External_Internal_CodeSets)
      type: string
      x-namespaced-enum:
        - UK.OBIE.BBAN
        - UK.OBIE.IBAN
        - UK.OBIE.PAN
        - UK.OBIE.Paym
        - UK.OBIE.SortCodeAccountNumber
        - UK.OBIE.Wallet
    OBInternalChargeBearerType1Code:
      description: >-
        Specifies which party/parties will bear the charges associated with the
        processing of the payment transaction. For a full list of values refer
        to `OBInternalChargeBearerType1Code` in *OB_Internal_CodeSet*
        [here](https://github.com/OpenBankingUK/External_Internal_CodeSets)
      enum:
        - BorneByCreditor
        - BorneByDebtor
        - FollowingServiceLevel
        - Shared
      type: string
    OBInternalErrorResponseError1Code:
      description: >-
        Low level textual error code, for all enum values see
        `OBInternalErrorResponseError1Code`
        [here](https://github.com/OpenBankingUK/External_Internal_CodeSets)
      example: U001
      maxLength: 4
      minLength: 4
      type: string
    OBInternalExtendedAccountType1Code:
      description: Specifies the extended type of account.
      enum:
        - Business
        - BusinessSavingsAccount
        - Charity
        - Collection
        - Corporate
        - Ewallet
        - Government
        - Investment
        - ISA
        - JointPersonal
        - Pension
        - Personal
        - PersonalSavingsAccount
        - Premier
        - Wealth
      type: string
    OBInternalFinancialInstitutionIdentification4Code:
      description: >-
        Name of the identification scheme, in a coded form as published in an
        external list.
      type: string
      x-namespaced-enum:
        - UK.OBIE.BICFI
    OBInternalLocalInstrument1Code:
      description: >-
        User community specific instrument.

        Usage: This element is used to specify a local instrument, local
        clearing option and/or further qualify the service or service level. For
        a full list of values refer to `OBInternalLocalInstrument1Code` in
        *OB_Internal_CodeSet*
        [here](https://github.com/OpenBankingUK/External_Internal_CodeSets)
      type: string
      x-namespaced-enum:
        - UK.OBIE.BACS
        - UK.OBIE.BalanceTransfer
        - UK.OBIE.CHAPS
        - UK.OBIE.Euro1
        - UK.OBIE.FPS
        - UK.OBIE.Link
        - UK.OBIE.MoneyTransfer
        - UK.OBIE.Paym
        - UK.OBIE.SEPACreditTransfer
        - UK.OBIE.SEPAInstantCreditTransfer
        - UK.OBIE.SWIFT
        - UK.OBIE.Target2
    OBInternalPaymentChargeType1Code:
      description: >-
        Charge type, in a coded form. For a full list of values refer to
        `OBInternalPaymentChargeType1Code` in *OB_Internal_CodeSet*
        [here](https://github.com/OpenBankingUK/External_Internal_CodeSets)
      type: string
      x-namespaced-enum:
        - UK.OBIE.CHAPSOut
    OBMandateRelatedInformation1:
      properties:
        CategoryPurposeCode:
          $ref: '#/components/schemas/ExternalCategoryPurpose1Code'
        Classification:
          $ref: '#/components/schemas/OBExternalMandateClassification1Code'
        FinalPaymentDateTime:
          format: date-time
          type: string
        FirstPaymentDateTime:
          format: date-time
          type: string
        Frequency:
          $ref: '#/components/schemas/OBFrequency6'
        MandateIdentification:
          $ref: '#/components/schemas/Identification_1'
        Reason:
          description: >-
            Reason for the direct debit mandate to allow the user to distinguish
            between different mandates for the same creditor.
          maxLength: 256
          minLength: 1
          type: string
        RecurringPaymentDateTime:
          description: >-
            The date on which the first recurring payment for a Standing Order
            schedule will be made. 

            Usage: This must be populated only if the first recurring date is
            different to the first payment date. All dates in the JSON payloads
            are represented in ISO 8601 date-time format. 

            All date-time fields in responses must include the timezone. An
            example is below:

            2017-04-05T10:43:07+00:00
          format: date-time
          type: string
      required:
        - Frequency
      type: object
    OBPaymentStatusReason:
      properties:
        Path:
          description: >-
            Recommended but optional reference to the JSON Path of the field
            with error, e.g., Data.Initiation.InstructedAmount.Currency
          maxLength: 500
          minLength: 1
          type: string
        StatusReasonCode:
          description: |-
            Specifies the status reason in a code form 
             For more information and enum values see `OBExternalStatusReason1Code [here](https://github.com/OpenBankingUK/External_Internal_CodeSets)
          example: ERIN
          maxLength: 4
          minLength: 1
          type: string
        StatusReasonDescription:
          description: Description supporting the StatusReasonCode.
          maxLength: 500
          minLength: 1
          type: string
      type: object
    OBPostalAddress7:
      additionalProperties: false
      description: >-
        Information that locates and identifies a specific address, as defined
        by postal services.
      properties:
        AddressLine:
          items:
            description: >-
              Information that locates and identifies a specific address, as
              defined by postal services, presented in free format text.
            maxLength: 70
            minLength: 1
            type: string
          maxItems: 7
          type: array
        AddressType:
          $ref: '#/components/schemas/OBAddressType2Code'
        BuildingName:
          $ref: '#/components/schemas/BuildingName'
        BuildingNumber:
          $ref: '#/components/schemas/BuildingNumber'
        CareOf:
          $ref: '#/components/schemas/CareOf'
        Country:
          $ref: '#/components/schemas/CountryCode'
        CountrySubDivision:
          $ref: '#/components/schemas/CountrySubDivision'
        Department:
          $ref: '#/components/schemas/Department'
        DistrictName:
          $ref: '#/components/schemas/DistrictName'
        Floor:
          $ref: '#/components/schemas/Floor'
        PostBox:
          $ref: '#/components/schemas/PostBox'
        PostCode:
          $ref: '#/components/schemas/PostCode'
        Room:
          $ref: '#/components/schemas/Room'
        StreetName:
          $ref: '#/components/schemas/StreetName'
        SubDepartment:
          $ref: '#/components/schemas/SubDepartment'
        TownLocationName:
          $ref: '#/components/schemas/TownName'
        TownName:
          $ref: '#/components/schemas/TownName'
        UnitNumber:
          $ref: '#/components/schemas/UnitNumber'
      type: object
    OBProxy1:
      description: >-
        Specifies an alternate assumed name for the identification of the
        account.
      properties:
        Code:
          $ref: '#/components/schemas/ExternalProxyAccountType1Code'
        Identification:
          description: >-
            Identification used to indicate the account identification under
            another specified name.
          maxLength: 2048
          minLength: 1
          type: string
        Type:
          description: Type of the proxy identification.
          maxLength: 35
          minLength: 1
          type: string
      required:
        - Identification
        - Code
      type: object
    OBReferredDocumentInformation:
      properties:
        Code:
          $ref: '#/components/schemas/ExternalDocumentType1Code'
        Issuer:
          description: Identification of the issuer of the reference document type.
          maxLength: 35
          minLength: 1
          type: string
        LineDetails:
          description: >-
            Set of elements used to provide the content of the referred document
            line.
          items:
            type: string
          type: array
        Number:
          description: Identification of the type specified for the referred document line.
          maxLength: 35
          minLength: 1
          type: string
        RelatedDate:
[...]
